<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        input(type="password" name="password" data-js=`${ 5 > 2 ? 'OK' : 'NOT OK'}`)

        - const myClasses = ['class1', 'class2', 'class3']
        div.my-div(class=myClasses)

        - const myStyles = {'color' : 'red', 'background-color' : 'blue'}
        div(style = myStyles)

        input(type="text" disable) 
