doctype html
html
    head
        title Case Statement in Pug
    body
        //order status => Pending || In_Transit || Completed
        -const orderStatus = 'Completed'
        case orderStatus 
            when 'Pending'
                p Your order has been placed and will be sent shortly.
            when 'In_Transit'
                p Your order is on the move - you should receive it soon!
            when 'Completed'
                p Your order has been completed.
            default
                p Sorry! We aren't sure what happened to your order..