*{
	margin: 0;
	padding: 0;
	line-height: 0;
}
body{
	text-align: center;
	background: #ccc;
}
.container {
	width: 600px;
	border: 5px solid white;
	margin: 10px auto;
	overflow: auto;
}
.thumb{
	width: 200px;
	float: left;
	border: 2px solid white;
	box-sizing: border-box;
}
.thumb:hover{
	opacity: .5;
	cursor: pointer;
}
@keyframes fadeIn{
	to{
		opacity: 1;
	}
}
.fade{
	opacity: 0;
	animation: fadeIn .5s forwards;
}
.active{
	opacity: .5;
}