doctype html
html
    head
    body
        h1 For/Each loop

        //- - const names = ['dimas', 'bintang','benno']
        //- - const grades  = {'Web' : 1000, 'Algoritma' : 90}
        //- for n,i in grades
        //-     p=n + ' - ' + i

        for n,i in []
            p=n + ' - ' + i
        else
            strong No Values are Here!