doctype html
html
    head
        link(rel="stylesheet", href="style.css")
        style.
            p {
                color: pink;
                text-decoration: underline;
            }
        
    body
        - const pStyles = {"text-align" : "center", "text-transform" : "uppercase"}
        p(style=pStyles) This is an HTML file
