@media screen and (max-width: 1024px) {

	/*-------------------------------------------------------------
	-----------------------------NAVBAR--------------------------
	-------------------------------------------------------------*/
	#navbar {
		padding: 10px 100px;
	}

	/*-------------------------------------------------------------
	-----------------------------HEADER--------------------------
	-------------------------------------------------------------*/ 
	header{
		padding: 200px 100px;
	}

	/*-------------------------------------------------------------
	-----------------------------ABOUT--------------------------
	-------------------------------------------------------------*/ 
	.about{
		height: 500px;
	}
	.miring{
		margin-top: -40px;
	}
	.konten{
		margin-top: 80px;
	}
	.tulisan{
		margin-left: 100px;
	}

	/*-------------------------------------------------------------
	-----------------------------OUR SERVICES----------------------
	-------------------------------------------------------------*/
	.services{
		padding: 100px 100px 50px 100px;
	}
	.services .gambar img{
		width: 550px;
	}
	.gambar{
		top: -270px;
		right: 0;
	}
	
	/*-------------------------------------------------------------
	-----------------------------PRIZES----------------------
	-------------------------------------------------------------*/
	.prizes{
		padding: 100px 100px;
	}
	.bungkusharga{
		width: 800px;
	}

	/*-------------------------------------------------------------
	-----------------------------INFO ----------------------
	-------------------------------------------------------------*/
	.addinfo{
		padding: 100px 100px;
	}

	/*-------------------------------------------------------------
	-----------------------------JOIN US ----------------------
	-------------------------------------------------------------*/
	.join{
		padding: 30px 100px;
	}

	/*-------------------------------------------------------------
	-----------------------------NEWS ----------------------
	-------------------------------------------------------------*/
	.news{
		height: 1650px;
		padding:100px 100px;
	}
	.wadahberita{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 50px;
	}

	/*-------------------------------------------------------------
	-----------------------------ADDINFO 2----------------------
	-------------------------------------------------------------*/
	.addinfo2{
		padding: 100px 100px;
	}

	/*-------------------------------------------------------------
	-----------------------------DOWNLOAD NOW--------------------------
	-------------------------------------------------------------*/ 
	.downloadnow{
		padding: 50px;
		height: 470px;
	}
	.downloadnow .konten{
		grid-gap: 20px;
	}
	.downloadnow .konten img{
		width: 500px;
	}
	.downloadnow .tulisan{
		margin-top: 20px;
	}

	/*-------------------------------------------------------------
	-----------------------------FOOTER--------------------------
	-------------------------------------------------------------*/ 
	footer{
		padding: 30px 100px;
	}
}
